.forstyle{
    display:flex;
    padding-inline-start:0px;
  }
  
  .forstyle li{
    border-radius:50%;
    width:30px;
    height:30px;
  }
  
  .color-2,.color-3,.color-4,.color-5,.color-6,.color-7,.color-8,.color-9,.color-10{
    margin-right:5px;
  }
  .color-1{
    background-color: white;
  
  }
  .color-2{
    background-color: gray;
  }
  .color-3{
    background-color: black;
  }
  .color-4{
    background-color: green;
  }
  .color-5{
    background-color: rgb(57, 57, 219);
  }
  .color-6{
    background-color: purple;
  }
  .color-7{
    background-color: yellow;
  }
  .color-8{
      background-color: blue;
  }
  .color-9{
      background-color: red;
  }
  .color-10{
    background-color:orange;
  }
 
  