ul{
    display:flex;
}
.brg{
    visibility: hidden;
}
.toHide{
    display: flex;
    align-items: center;
}
.bold{
    font-weight: bold;
}
@media only screen and (max-width: 800px) {
    .brg {
        visibility: visible;
    }
    .toHide{
        display:none;
    }
  }